
.demo {
    background: #3f51b5
}

.demo h1 {
    margin: 33px 0 25px
}

.demo h3 {
    margin: 10px 0
}

pre {
    background: #fff
}

#tabInfo {
    display: none
}

ul.resp-tabs-list, p {
    margin: 0;
    padding: 0
}

.resp-tabs-list li {
    font-weight: 600;
    color: #FFF;
    font-size: 20px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 29%;
    text-align: center;
    height: 25px;
    margin: 3px 0 0;
    padding: 12px 15px;
}

.resp-tabs-container {
    clear: left;
    width: 100%;
    color: #FFF;
    padding: 0;
    background: #3f51b5
}

h2.resp-accordion {
    cursor: pointer;
    display: none;
    font-size: 13px;
    margin: 0;
    padding: 10px 15px;
    background: #3f51b5
}

.resp-tab-content {
    display: none;
    overflow: auto;
    width: 100%
}

.resp-tab-active {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 3px solid #1a237e!important;
    margin-bottom: -1px!important;
    padding: 12px 14px 14px!important;
}

.resp-content-active, .resp-accordion-active {
    display: block
}

h2.resp-tab-active {
    border-bottom: 0 solid #3f51b5!important;
    margin-bottom: 0!important;
    padding: 10px 15px!important;
    background: #3f51b5
}

/*n change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 756px) {

.demo {
    width: 100%;
    overflow: none
}

ul.resp-tabs-list {
    display: none;
}

h2.resp-accordion {
    display: block;
    height: 30px;
    font-size: 18px
}

.resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: initial;
    clear: none
}

.resp-accordion-closed {
    display: none!important
}
}
