/* webkit hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* header */
	nav ul > li > a:hover { padding: 10px 15px 11px; }
	nav ul > li ul > li > a:hover { padding: 10px 15px 10px; }
}

/* ie10-11 hack */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	/* header */
	nav ul > li > a:hover { padding: 10px 15px 11px; }
	nav ul > li ul > li > a:hover { padding: 10px 15px 10px; }
}