
* {
    margin: 0 auto;
}

/* general */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('../fonts/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    position: relative;
    color: #707070;
    background-color:#f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.clear {
    clear: both;
}
.wrapper{
    width:960px;
    margin:0 auto;   
}

.wrap {
    width: 50%;
    margin: 0 auto;
    float:left;
}
.wrap1 {
     width: 50%;
    margin: 0 auto;
    float:left;}

section.content, footer {
    clear: both;
}

header, footer {
    background-color: #2d2d2d;
}

h1 {
    font-weight: 700;
    font-size: 36px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.2px;
}

h3 {
    font-weight: 600;
    font-size: 20px;
}

/* header */
header {
    height: 130px;
    width: 100%;
    padding-bottom: 20px;
}

header div#logo {
    float: left;
}

nav {
    position: relative;
    float: right;
    margin-top: 12.5%;
    font-size: 14px;
}

nav, nav ul > li > a {
    color: #d0d0d0;
}

nav ul {
    list-style-type: none;
    list-style-position: inside;
}

nav ul > li {
    display: inline;
    float: left;
}

nav ul > li > a, nav ul > li > a:visited, nav ul > li > a:hover, nav ul > li > a:active {
    padding: 10px 15px;
    text-decoration: none;
}

nav ul > li > a:hover {
    padding: 10px 15px;
    background-color: #6a6a6a;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

nav ul > li ul {
    padding: 0;
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

nav ul > li ul > li {
    float: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

nav ul > li ul > li:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

nav ul > li ul > li > a, nav ul > li ul > li > a:visited, nav ul > li ul > li > a:hover, nav ul > li ul > li > a:active {
    background: #555;
    display: block;
    padding: 10 15px;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}

nav ul > li ul > li > a:hover {
    background-color: #666;
    border-radius: 0;
}

nav ul > li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

nav ul.second {
    left: 10px;
}

nav ul.third {
    left: 125px;
}

nav ul.fourth {
    left: 230px;
}

/* featured */
section.featured {
    overflow: hidden;
}

section.featured div.content {
    padding: 30px 0 35px;
}

section.celebrity {
    height: 100%;
    background-color: #0CB271;
}

section.celebrity h1 {
    line-height: 1.15;
    width: 530px;
    word-wrap: break-word;
    color: #087249;
}

section.celebrity span.white {
    color: #fff;
}

section.celebrity p {
    width: 500px;
    color: #fff;
}

section.celebrity div.float-left {
    float: left;
}

section.celebrity div.float-right {
    float: right;
}

section.celebrity div.picture {
    margin-top: 8%;
}

section.celebrity div.picture img {
    border: 10px solid #087249;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* content */
section.three article {
    width: 300px;
}

section.absolute article {
    position: absolute;
    z-index: 1;
}

section.two article {
    width: 460px;
}

section.one article {
    width: 960px;
}

section.content {
    overflow: hidden;
    padding: 35px 0 10px 0;
}

section.less-padding {
    padding: 35px 0 0 0;
}

section.white {
    color: #454545;
}


/* footer */
footer {
    overflow: hidden;
    padding: 20px 0;
    color: #bebebe;
    font-size: 12px;
}

footer .copyright {
    float: left;
}

footer .social {
    float: right;
    margin-bottom: 10px;
}

footer .social ul {
    list-style-type: none;
    margin:0 auto
}
	footer .social ul > li { display: inline; }
	footer .social ul > li { margin-right: 5px; }
	footer .social ul > li:last-child { margin-right: 0; }

	footer .social ul > li .icon-button {
		background-color: #2d2d2d;
		border-radius: 2.6rem;
		cursor: pointer;
		display: inline-block;
		font-size: 1.3rem;
		height: 2.6rem;
		line-height: 2rem;
		margin: 0;
		position: relative;
		text-align: center;
		-webkit-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
				user-select: none;
		width: 2.6rem;
	}
	
	footer .social ul > li .icon-button span {
		border-radius: 0;
		display: block;
		height: 0;
		left: 50%;
		margin: 0;
		position: absolute;
		top: 50%;
		-webkit-transition: all 0.3s;
		   -moz-transition: all 0.3s;
			 -o-transition: all 0.3s;
				transition: all 0.3s;
		width: 0;
	}
	
	footer .social ul > li .icon-button:hover span { width: 2.6rem; height: 2.6rem; border-radius: 2.6rem; margin: -1.6rem -1.3rem -1.3rem; }
	footer .social ul > li .icon-button i {
		background: none;
		color: white;
		height: 2.6rem;
		left: 0;
		line-height: 2rem;
		position: absolute;
		top: 0;
		-webkit-transition: all 0.3s;
		   -moz-transition: all 0.3s;
			 -o-transition: all 0.3s;
				transition: all 0.3s;
		width: 2.6rem;
		z-index: 10;
	}

	footer .social ul > li .twitter span { background-color: #4099ff;}
	footer .social ul > li .facebook span { background-color: #3B5998; }
	footer .social ul > li .google-plus span { background-color: #db5a3c; }
	footer .social ul > li .tumblr span { background-color: #34526f; }
	footer .social ul > li .instagram span { background-color: #517fa4; }
	footer .social ul > li .youtube span { background-color: #bb0000; }
	footer .social ul > li .pinterest span { background-color: #cb2027; }

	footer .social ul > li .icon-button .fa-twitter { color: #4099ff; }
	footer .social ul > li .icon-button .fa-facebook { color: #3B5998; }
	footer .social ul > li .icon-button .fa-tumblr { color: #34526f; }
	footer .social ul > li .icon-button .fa-google-plus { color: #db5a3c; }
	footer .social ul > li .icon-button .fa-instagram { color: #517fa4; }
	footer .social ul > li .icon-button .fa-youtube { color: #bb0000; }
	footer .social ul > li .icon-button .fa-pinterest { color: #cb2027; }

	footer .social ul > li .icon-button:hover .fa-twitter,
	footer .social ul > li .icon-button:hover .fa-facebook,
	footer .social ul > li .icon-button:hover .fa-google-plus,
	footer .social ul > li .icon-button:hover .fa-tumblr,
	footer .social ul > li .icon-button:hover .fa-instagram,
	footer .social ul > li .icon-button:hover .fa-youtube,
	footer .social ul > li .icon-button:hover .fa-pinterest { color: white; }


footer .clear {
    clear: both;
}

footer .subscribe {
    float: left;
    margin-bottom: 30px;
}

footer .subscribe form {
    margin-top: 10px;
}

footer .subscribe input {
    height: 100%;
    float: left;
}

footer .subscribe input[type=email] {
    font-family: 'FontAwesome';
    height: 30px;
    width: 250px;
    background-color: #eaeaea;
    color: #6A6A6A;
    outline: 0;
    border: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 1px 10px;
    font-size: 14px;
}

footer .subscribe input[type=submit] {
    height: 32px;
    background-color: #e74c3c;
    color: #eaeaea;
    border: 0px solid #e74c3c;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
}

footer .subscribe input[type=submit]:hover {
    background-color: #CD4435;
}

footer .misc {
    float: right;
}

footer .misc ul {
    list-style-type: none;
}

footer .misc ul > li {
    display: inline;
}

footer .misc ul > li:after {
    content: ' /';
}

footer .misc ul > li:last-child:after {
    content: '';
}

footer .misc ul > li > a, footer ul > li > a:visited, footer ul > li > a:hover, footer ul > li > a:active {
    color: #bebebe;
    text-decoration: none;
}

footer .misc ul > li > a:hover {
    color: #eaeaea;
}

/* social buttons */
.social {
    
}

.social ul {
    list-style-type: none;
    float:right;
    margin-right:20px;
    margin-top:-70px;
}

.social ul > li {
}

.social ul > li {
    margin-top: 60px;
}

.social ul > li:last-child {
    margin-right: 0;
}

.social ul > li .icon-button {
    background-color: transparent;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 3.3rem;
    height: 2.6rem;
    line-height: 2.1rem;
    margin: 0;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
}

.social ul > li .icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.social ul > li .icon-button:hover span {
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 4.6rem;
    margin: -1.6rem -2.2rem -1.5rem;
}

.social ul > li .icon-button i {
    background: none;
    color: white;
    height: 4.6rem;
    left: 0;
    line-height: 4.1rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 2.6rem;
    z-index: 10;
}

.social ul > li .twitter span {
    background-color: #4099ff;
}

.social ul > li .facebook span {
    background-color: #3B5998;
}

.social ul > li .google-plus span {
    background-color: #db5a3c;
}

.social ul > li .tumblr span {
    background-color: #34526f;
}

.social ul > li .instagram span {
    background-color: #517fa4;
}

.social ul > li .youtube span {
    background-color: #bb0000;
}

.social ul > li .pinterest span {
    background-color: #cb2027;
}

.social ul > li .icon-button .fa-twitter {
    color: #4099ff;
}

.social ul > li .icon-button .fa-facebook {
    color: #3B5998;
}

.social ul > li .icon-button .fa-tumblr {
    color: #34526f;
}

.social ul > li .icon-button .fa-google-plus {
    color: #db5a3c;
}

.social ul > li .icon-button .fa-instagram {
    color: #517fa4;
}

.social ul > li .icon-button .fa-youtube {
    color: #bb0000;
}

.social ul > li .icon-button .fa-pinterest {
    color: #cb2027;
}

.social ul > li .icon-button:hover .fa-twitter, .social ul > li .icon-button:hover .fa-facebook, .social ul > li .icon-button:hover .fa-google-plus, .social ul > li .icon-button:hover .fa-tumblr, .social ul > li .icon-button:hover .fa-instagram, .social ul > li .icon-button:hover .fa-youtube, .social ul > li .icon-button:hover .fa-pinterest {
    color: #3B3B3B;
}

.misc {
    float: right;
}

.misc ul {
    list-style-type: none;
}

.misc ul > li {
    display: inline;
}

.misc ul > li:after {
    content: ' /';
}

.misc ul > li:last-child:after {
    content: '';
}

.misc ul > li > a, ul > li > a:visited, ul > li > a:hover, ul > li > a:active {
    color: #bebebe;
    text-decoration: none;
}

.misc ul > li > a:hover {
    color: #eaeaea;
}

/* forms */

#name, #emailAddress {
    width: 200px;
    height: 30px;
    padding: 3px 10px;
    color: #000;
    background-color: #E9E9E9;
    border: 2px solid #707070;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: 0px none;
    margin: 0 auto;
}

textarea {
    float: left;
    margin: 5px 0px 5px 0px;
    padding: 10px 10px;
    color: #000;
    background-color: #E9E9E9;
    border: 2px solid #707070;
    border-radius: 5px;
    outline: 0px none;
    resize: none;
    margin: 0 auto;
}

#name, #emailAddress, textarea {
    font-family: Open Sans;
    margin: 0 auto;
    margin-top: 5px
}

button {
    width: 125px;
    height: 50px;
    margin-bottom: 50px;
    background-color: #2D2D2D;
    color: #0CB271;
    font: 20px "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid #2D2D2D;
    -webkit-transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

button:hover {
    background-color: #FFFFFF;
    border: 3px solid #0CB271;
}

.input-logo {
    width: 50px;
    height: 30px;
    float: left;
    margin: 0 auto;
    padding: 3px 10px;
    color: #BEBEBE;
    text-align: center;
    font-size: 16px;
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
    border-left: 2px solid #707070;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #707070;
    margin-top: 5px
}

.tooltip {
    background-color: #000000;
    margin-top: 2px;
    padding: 10px 15px;
    display: none;
    color: #FFFFFF;
    text-align: left;
    border-radius: 5px;
    font: 14px 'Open Sans';
    font-weight: 600;
    -webkit-box-shadow: 0 0 10px #000000;
    -moz-box-shadow: 0 0 10px #000000;
    -o-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.asterisk {
    color: #FF0000;
    margin-left: 5px;
    font-size: 7px;
}



input[type=submit].submit {
    width: 125px;
    height: 50px;
    margin: 20px 0 50px 0;
    background-color: #2D2D2D;
    color: #0CB271;
    font: 20px "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid #2D2D2D;
    -webkit-transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

input[type=submit].submit:hover {
    background-color: #FFFFFF;
    border: 3px solid #0CB271;
}

input[type=text]#name:focus, input[type=email]#emailAddress:focus, textarea:focus {
    background-color: #FFFFFF;
    border: 2px solid #0CB271;
}
